<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>FxRatesApp</span>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="'/'" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:true}"> Home Page </a>
    <a mat-button [routerLink]="'/list-fxrates'" routerLinkActive="mat-accent"> List FxRates </a>
    <a mat-button [routerLink]="'/calc-exchange'" routerLinkActive="mat-accent"> Calc Exchange </a>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
